body {
  background-color: lightgreen;
}
h1.title {
  font-family: fantasy;
  color: blue;
}

.flashy {
  color: red;
  font-style: italic;
}
.best {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}
